@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/* font-family: "Allerta Stencil", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: "Anton", sans-serif; */

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(../font/Pretendard/Pretendard-Black.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(../font/Pretendard/Pretendard-ExtraBold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../font/Pretendard/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(../font/Pretendard/Pretendard-SemiBold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../font/Pretendard/Pretendard-Medium.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../font/Pretendard/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(../font/Pretendard/Pretendard-Light.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url(.../font/Pretendard/Pretendard-ExtraLight.woff2) format('woff2'), url(../font/Pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url(../font/Pretendard/Pretendard-Thin.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Thin.woff) format('woff');
}

body {
    line-height: normal;
    font-family: 'pretendard';
    font-weight: 400;
}

li {
    list-style: none;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-family: "Anton", sans-serif;
    font-size: 150px;
    color: #333333;
    line-height: 1;
}

h4 {
    font-family: "Anton", sans-serif;
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 40px;
    color: #ffffff;
}

/* ----- 헤더 ----- */
.header {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .inner {
    max-width: 1524px;
    width: calc(100% - 20px);
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo {
    width: 120px;
}

.header .inner .logo a {
    width: 100%;
    display: block;
}

.header .inner .logo a img {
    width: 100%;
}

.header .inner .nav {
    display: flex;
    gap: 10px;
}

.header .inner .nav>li {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
}

.header .inner .nav>li .depth-01 {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .inner .nav>li .depth-01.sub_btn {
    background-color: #FEE379;
    color: #333;
    border-radius: 20px;
    transition: all 0.2s;
}

.header .inner .nav>li:hover .depth-01.sub_btn {
    background-color: #333;
    color: #FEE379;
    border: 1px solid #FEE379;
}

.header .inner .nav>li .depth-02 {
    min-width: 130px;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    /* Y 부드럽게 나오는 효과 */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.header .inner .nav>li:hover .depth-02 {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.header .inner .nav li .depth-02 li a {
    color: #c0c0c0;
    display: block;
}

.header .inner .nav li .depth-02 li:hover a {
    color: #fff;
}

.header .inner .util {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.header .inner .util .login {
    width: 60px;
    height: 100%;
    color: #ffffff;
    padding: 0;
}

.header .inner .util .search_btn {
    height: 100%;
    padding: 0 5px;
}

.header .inner .util .search_btn img {
    width: 26px;
    display: block;
}

.header .inner .util .search_box {
    width: 320px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transform: translateY(-10px);
    /* Y 부드럽게 내려오기 */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.header .inner .util .search_box.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.header .inner .util .search_box input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 0;
}

/* --- 푸터 --- */
#footer {
    background-color: #333333;
    color: #ffffff;
    padding: 50px 0;
}

#footer .inner {
    max-width: 1524px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .inner .logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#footer .inner .logo a {
    width: 210px;
    display: block;
}

#footer .inner .logo a>img {
    width: 100%;
    display: block;
}

#footer .inner .logo .sns ul {
    display: flex;
    gap: 18px;
}

#footer .inner .logo .sns ul li a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
}

/* 기본 상태 */
#footer .inner .logo .sns a.blog {
    background-image: url('../img/snsicon_blog.png');
}

#footer .inner .logo .sns a.instagram {
    background-image: url('../img/snsicon_instagram.png');
}

#footer .inner .logo .sns a.youtube {
    background-image: url('../img/snsicon_youtube.png');
}

#footer .inner .logo .sns a.x {
    background-image: url('../img/snsicon_X.png');
}

/* hover 상태 */
#footer .inner .logo .sns a.blog:hover {
    background-image: url('../img/snsicon_blog-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .logo .sns a.instagram:hover {
    background-image: url('../img/snsicon_instagram-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .logo .sns a.youtube:hover {
    background-image: url('../img/snsicon_youtube-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .logo .sns a.x:hover {
    background-image: url('../img/snsicon_X-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .text_wrap {
    width: 65.88%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#footer .inner .text_wrap .footer_nav {}

#footer .inner .text_wrap .footer_nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#footer .inner .text_wrap .footer_nav ul li a {
    display: inline-block;
}

#footer .inner .text_wrap .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .inner .text_wrap .info .text {}

#footer .inner .text_wrap .info .text ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
}

#footer .inner .text_wrap .info .text ul li {}