@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/* font-family: "Allerta Stencil", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: "Anton", sans-serif; */

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(../font/Pretendard/Pretendard-Black.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(../font/Pretendard/Pretendard-ExtraBold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../font/Pretendard/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(../font/Pretendard/Pretendard-SemiBold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../font/Pretendard/Pretendard-Medium.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../font/Pretendard/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(../font/Pretendard/Pretendard-Light.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url(.../font/Pretendard/Pretendard-ExtraLight.woff2) format('woff2'), url(../font/Pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url(../font/Pretendard/Pretendard-Thin.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Thin.woff) format('woff');
}

body {
    line-height: normal;
    font-family: 'pretendard';
    font-weight: 400;
}

li {
    list-style: none;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-family: "Anton", sans-serif;
    font-size: 150px;
    color: #333333;
    line-height: 1;
}

h4 {
    font-family: "Anton", sans-serif;
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 40px;
    color: #ffffff;
}

/* 왼쪽 화살표 */
.fp-controlArrow.fp-prev {
    border: none !important;
    /* 기존 삼각형 제거 */
    width: 40px;
    /* 이미지 크기 조정 */
    height: 40px;
    background: url('../img/icon_slide_left.png') no-repeat center center;
    background-size: contain;
    left: 30px;
    /* 위치 조정 */
}

/* 오른쪽 화살표 */
.fp-controlArrow.fp-next {
    border: none !important;
    width: 40px;
    height: 40px;
    background: url('../img/icon_slide_right.png') no-repeat center center;
    background-size: contain;
    right: 30px;
}

/* ----- 헤더 ----- */
.header {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .inner {
    max-width: 1264px;
    width: calc(100% - 20px);
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo {
    width: 120px;
}

.header .inner .logo a {
    width: 100%;
    display: block;
}

.header .inner .logo a img {
    width: 100%;
}

.header .inner .nav {
    display: flex;
    gap: 10px;
}

.header .inner .nav>li {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
}

.header .inner .nav>li .depth-01 {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .inner .nav>li .depth-01.sub_btn {
    background-color: #FEE379;
    color: #333;
    border-radius: 20px;
    transition: all 0.2s;
}

.header .inner .nav>li:hover .depth-01.sub_btn {
    background-color: #333;
    color: #FEE379;
    border: 1px solid #FEE379;
}

.header .inner .nav>li .depth-02 {
    min-width: 130px;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    /* Y 부드럽게 나오는 효과 */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.header .inner .nav>li:hover .depth-02 {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.header .inner .nav li .depth-02 li a {
    color: #c0c0c0;
    display: block;
}

.header .inner .nav li .depth-02 li:hover a {
    color: #fff;
}

.header .inner .util {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.header .inner .util .login {
    width: 60px;
    height: 100%;
    color: #ffffff;
    padding: 0;
}

.header .inner .util .search_btn {
    height: 100%;
    padding: 0 5px;
}

.header .inner .util .search_btn img {
    width: 26px;
    display: block;
}

.header .inner .util .search_box {
    width: 320px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transform: translateY(-10px);
    /* Y 부드럽게 내려오기 */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.header .inner .util .search_box.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.header .inner .util .search_box input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 0;
}


/* ---- section0 ----- */
/* slide1 */
#section0 #slide1 .intro {
    position: relative;
    width: 100%;
    height: 100vh;
}

#section0 #slide1 .intro>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section0 #slide1 .intro video {
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/* slide2 */
#section0 #slide2 {
    position: relative;
}

#section0 .background img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    z-index: -1;
}

#section0 .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 228, 223, 0.2);
    pointer-events: none;
}

#section0 .inner {
    width: calc(100% - 400px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#section0 .inner .content {
    max-width: 521px;
}

#section0 .inner .content .text_wrap {
    background-color: rgba(225, 228, 219, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px 24px;
    border-radius: 10px;
}

#section0 .content .text_wrap .title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
    padding-left: 6px;
}

#section0 .inner .content .text_wrap .title span {
    font-size: 14px;
    font-weight: 300;
}

#section0 .inner .content .text_wrap ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 300;
}

#section0 .inner .content .text_wrap ul li::before {
    content: '· ';
    font-weight: bold;
}

#section0 .inner .content .content_btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

#section0 .inner .content .content_btn p {}

#section0 .inner .content .content_btn .btn01 {
    padding: 18px;
    background-color: #C18C8E;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 10px;
    transition: all 0.2s;
}

#section0 .inner .content .content_btn .btn01:hover {
    background-color: #af686b;
}

#section0 .inner .content .content_btn .btn02 {
    padding: 18px 25px;
    border: 1px solid #333333;
    border-radius: 10px;
    transition: all 0.2s;
}

#section0 .inner .content .content_btn .btn02:hover {
    background-color: #dadada;
}

#section0 .inner .cover_img {
    width: 483px;
    box-shadow: 25px 30px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
}

#section0 .inner .cover_img a {
    width: 100%;
    display: block;
}

#section0 .inner .cover_img a>img {
    width: 100%;
    height: auto;
    display: block;
}

#section0 .inner .cover_img:hover {
    animation: floatUp 0.5s ease-out;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    /* 위로 10px */
    100% {
        transform: translateY(0);
    }
}

/* slide3 */
#section0 #slide3 {
    position: relative;
}

#section0 #slide3 .background::after {
    background-color: rgba(201, 175, 141, 0.2);
}

#section0 #slide3 .inner .content .text_wrap {
    background-color: rgba(201, 175, 141, 0.7);
}

#section0 #slide3 .inner .content .content_btn .btn01 {
    background-color: #DA7B49;
}

#section0 #slide3 .inner .content .content_btn .btn01:hover {
    background-color: #d36124;
}

#section0 #slide3 .inner .content .content_btn .btn02:hover {
    background-color: #ffffff;
}

/* ---- section1 ----- */
/* slide1 */
#section1 #slide1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section1 #slide1 .bg {
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#section1 .inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section1 .inner .left {
    width: 40%;
    height: 733px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section1 .inner .left .title {
    max-width: 500px;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

#section1 .inner .left .cover_image {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#section1 .inner .left .cover_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section1 .inner .left .cover_image a {
    padding: 8px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#section1 .inner .left .cover_image a>img {
    width: 16px;
    height: 16px;
}


#section1 .inner .right {
    width: 40%;
    height: 733px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section1 .inner .right .content01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#section1 .inner .right .content01 img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    object-position: 50% 20%;
}

#section1 .inner .right .content02 {
    height: 274px;
}

#section1 .inner .right .content02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section1 .inner .right .content03 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#section1 .inner .right .content03 p {
    width: 49%;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

#section1 .inner .right .content03 img {
    flex: 1;
    height: 234px;
    object-fit: cover;
    object-position: 50% 0;
}

/* slide2 */
#section1 #slide2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section1 #slide2 .bg {
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#section1 #slide2 .inner .right .content02 {
    flex: 1;
}

#section1 #slide2 .inner .right .content03 p {
    width: 100%;
}


/* ---- section2 ----- */
/* slide1 */
#section2 .inner {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section2 .inner>img {
    width: 81.25%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

#section2 .inner .overlay {
    width: 960px;
    height: 100vh;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    position: absolute;
    top: 0;
    right: 0;
}

#section2 .inner .overlay .text {
    width: 450px;
    color: #ffffff;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 20%;
    right: 10%;
}

#section2 .inner .overlay .text p {
    line-height: 150%;
    text-align: justify;
}

#section2 .inner .overlay .text .more_btn {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

#section2 .inner .overlay .text .more_btn span {
    font-size: 14px;
    font-weight: 400;
    color: #a1a1a1;
}

#section2 .inner .overlay .text .more_btn img {
    width: 15px;
    height: 15px;
}


/* ---- section3 ----- */
#section3 {
    width: 100%;
    height: 100vh;
    background: url('../img/bg.png') center center;
}

#section3 .inner {
    margin: 80px 0 0 200px;
}

#section3 .inner .title {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
}

#section3 .inner .title img {
    width: 50px;
    height: 62px;
}

#section3 .inner .boxoffice_slide {
    padding: 20px;
}

#section3 .inner .swiper-slide {
    color: #ffffff;
}

#section3 .inner .swiper-slide .poster {
    width: 320px;
    height: 457px;
    position: relative;
}

#section3 .inner .swiper-slide .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section3 .inner .swiper-slide .poster strong {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    left: 10px;
}

/* poster위에 올라올 overlay */
#section3 .inner .swiper-slide .poster .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

#section3 .inner .swiper-slide .poster:hover .overlay {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: translateY(0);
}

#section3 .inner .swiper-slide .poster .overlay h5 {
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
}

#section3 .inner .swiper-slide .poster .overlay ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

#section3 .inner .swiper-slide .poster .overlay ul li {}

#section3 .inner .swiper-slide .poster .overlay ul li span {
    font-size: 15px;
    font-weight: 600;
    color: #C44B4B;
    display: block;
    margin-bottom: 5px;
}

#section3 .inner .swiper-slide .poster .overlay a {
    font-size: 14px;
    font-weight: 500;
    color: #888888;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}

#section3 .inner .swiper-slide .content {
    text-align: center;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#section3 .inner .swiper-slide .content .rank {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

#section3 .inner .swiper-slide .content .rank .star {
    display: flex;
    gap: -5px;
}

#section3 .inner .swiper-slide .content .rank .star img {
    width: 22px;
    margin-right: -5px;
}

#section3 .inner .swiper-slide .content .rank p {
    color: #FEE379;
}

#section3 .inner .swiper-slide .content .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* ---- section4 ----- */
/* slide1 */
#section4 .inner {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section4 .inner>img {
    width: 62.65%;
    height: 100%;
    object-fit: cover;
}

#section4 .inner .overlay {
    width: 57.70%;
    height: 100%;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 36%);
    position: absolute;
    top: 0;
    right: 0;
}

#section4 .inner .overlay_btm {
    width: 100%;
    height: 33%;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%);
    position: absolute;
    bottom: 0;
    left: 0;
}

#section4 .slide .text_wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    bottom: 90px;
    left: 198px;
    color: #ffffff;
}

#section4 .slide .text_wrap .category {
    display: flex;
    gap: 10px;
    align-items: center;
}

#section4 .slide .text_wrap .category img {
    width: 40px;
    height: 40px;
}

#section4 .slide .text_wrap .first {
    display: flex;
    gap: 36px;
    align-items: center;
}

#section4 .slide .text_wrap .first .name {
    display: flex;
    gap: 18px;
    align-items: center;
}

#section4 .slide .text_wrap .first .name strong {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 60px;
    font-weight: 400;
}

#section4 .slide .text_wrap .first .name p {
    font-size: 45px;
    font-weight: 700;
}

#section4 .slide .text_wrap .first .info_wrap {
    display: flex;
    gap: 18px;
    align-items: center;
}

#section4 .slide .text_wrap .first .info_wrap img {
    width: 30px;
    height: 30px;
}

#section4 .slide .text_wrap .first .info p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

#section4 .slide .text_wrap .first .info span {
    color: #a1a1a1;
}

#section4 .list {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 36px;
    position: absolute;
    bottom: 90px;
    right: 143px;
}

#section4 .list .item {
    width: 210px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#section4 .list .item .poster_image {
    width: 100%;
    height: 300px;
    margin-bottom: 13px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#section4 .list .item .poster_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section4 .list .item strong {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    left: -25px;
    bottom: 15px;
}