@charset "utf-8";
@import url('reset.css');
@import url('common.css');

/* ---- section0 ----- */
/* slide1 */
#section0 #slide1 .intro {
    position: relative;
    width: 100%;
    height: 100vh;
}

#section0 #slide1 .intro>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section0 #slide1 .intro video {
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/* slide2 */
#section0 #slide2 {
    position: relative;
}

#section0 .background img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    z-index: -1;
}

#section0 .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 228, 223, 0.2);
    pointer-events: none;
}

#section0 .inner {
    width: 79.37%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1280px) {
    #section0 .inner {
        width: calc(100% - 70px);
    }
}

#section0 .inner .content {
    width: 34.18%;
    min-width: 450px;
}

#section0 .inner .content .text_wrap {
    background-color: rgba(225, 228, 219, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px 24px;
    border-radius: 10px;
}

#section0 .content .text_wrap .title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
    padding-left: 6px;
}

#section0 .inner .content .text_wrap .title span {
    font-size: 14px;
    font-weight: 300;
}

#section0 .inner .content .text_wrap ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 300;
}

#section0 .inner .content .text_wrap ul li {
    line-height: 150%;
}

#section0 .inner .content .text_wrap ul li::before {
    content: '· ';
    font-weight: bold;
}

#section0 .inner .content .content_btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

#section0 .inner .content .content_btn p {}

#section0 .inner .content .content_btn .btn01 {
    padding: 18px;
    background-color: #C18C8E;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 10px;
    transition: all 0.2s;
}

#section0 .inner .content .content_btn .btn01:hover {
    background-color: #af686b;
}

#section0 .inner .content .content_btn .btn02 {
    padding: 18px 25px;
    border: 1px solid #333333;
    border-radius: 10px;
    transition: all 0.2s;
}

#section0 .inner .content .content_btn .btn02:hover {
    background-color: #dadada;
}

#section0 .inner .cover_img {
    width: 483px;
    box-shadow: 25px 30px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
}

#section0 .inner .cover_img a {
    width: 100%;
    display: block;
}

#section0 .inner .cover_img a>img {
    width: 100%;
    height: auto;
    display: block;
}

#section0 .inner .cover_img:hover {
    animation: floatUp 0.5s ease-out;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* slide3 */
#section0 #slide3 {
    position: relative;
}

#section0 #slide3 .background::after {
    background-color: rgba(201, 175, 141, 0.2);
}

#section0 #slide3 .inner .content .text_wrap {
    background-color: rgba(201, 175, 141, 0.7);
}

#section0 #slide3 .inner .content .content_btn .btn01 {
    background-color: #DA7B49;
}

#section0 #slide3 .inner .content .content_btn .btn01:hover {
    background-color: #d36124;
}

#section0 #slide3 .inner .content .content_btn .btn02:hover {
    background-color: #ffffff;
}

/* ---- section1 ----- */
/* slide1 */
#section1 .slide.mobile {
    display: none;
}

#section1 #slide1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section1 #slide1 .bg {
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#section1 .coffee {
    width: 390px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

#section1 .inner {
    max-width: 1524px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section1 .inner .left {
    width: 40%;
    height: 733px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section1 .inner .left .title {
    max-width: 500px;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

#section1 .inner .left .cover_image {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#section1 .inner .left .cover_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section1 .inner .left .cover_image a {
    padding: 8px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#section1 .inner .left .cover_image a>img {
    width: 16px;
    height: 16px;
}


#section1 .inner .right {
    width: 40%;
    height: 733px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section1 .inner .right .content01 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#section1 .inner .right .content01 img {
    flex: 1;
    min-width: 0;
    height: 165px;
    object-fit: cover;
    object-position: 50% 20%;
}

#section1 .inner .right .content01 h3 {
    flex-shrink: 0;
}

#section1 .inner .right .content02 {
    height: 274px;
}

#section1 .inner .right .content02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section1 .inner .right .content03 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#section1 .inner .right .content03 p {
    width: 49%;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    color: #333333;
}

#section1 .inner .right .content03 img {
    flex: 1;
    height: 234px;
    object-fit: cover;
    object-position: 50% 0;
}

/* slide2 */
#section1 #slide2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section1 #slide2 .bg {
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#section1 #slide2 .inner .right .content02 {
    flex: 1;
}

#section1 #slide2 .inner .right .content03 p {
    width: 100%;
}


/* ---- section2 ----- */
#section2 {
    background: url('../img/cork_bg.png') no-repeat center center;
    background-size: cover;
}

#section2 .inner {
    width: 79.37%;
    margin: 0 auto;
}

#section2 .inner .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#section2 .inner .title h4 {
    color: #333333;
}

#section2 .inner .title strong {
    color: #333333;
    font-size: 80px;
    font-weight: 800;
}

/* ---- 섹션2 리스트 시작 ----- */
#section2 .inner .content {
    width: 100%;
    height: 571px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#section2 .inner .list {
    width: 55%;
    height: 571px;
    overflow: hidden;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

#section2 .inner .list .item {
    width: 222px;
    min-width: 210px;
    height: 260px;
    padding: 22px 20px;
    background-color: #FEE379;
    color: #333333;
    font-family: 'KyoboHandwriting2020ParkDoYeon';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* #section2 .inner .list .item:nth-child(even) {
    transform: translateY(20px);
} */

#section2 .inner .list .item .movie {
    font-size: 18px;
    font-weight: 600;
}

#section2 .inner .list .item .review {}

#section2 .inner .list .item .review .review_text {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 9px;
}

#section2 .inner .list .item .review .name {
    font-size: 14px;
}

#section2 .inner .list .item .review .name::before {
    content: '- ';
}

#section2 .inner .list .item .review .name::after {
    content: ' -';
}

#section2 .inner .list .item .rank {
    display: flex;
    align-items: center;
}

#section2 .inner .list .item .rank .star {
    display: flex;
}

#section2 .inner .list .item .rank .star img {
    width: 22px;
    height: 22px;
    display: block;
    margin-right: -5px;
}

#section2 .inner .list .item .rank span {
    font-size: 16px;
    margin-left: 5px;
    padding-top: 5px;
}

/* ----- 섹션2 펜 ------ */
#section2 .inner .pen_btn {
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#section2 .inner .pen_btn:hover {
    transform: rotate(-65deg);
}

#section2 .inner .pen_btn .pen_img {
    width: 500px;
}

#section2 .inner .pen_btn .pen_img img {
    width: 100%;
    display: block;
}

#section2 .inner .pen_btn h5 {
    width: 400px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

/*  ---------- 섹션2 팝업 ---------*/
#section2 .popup {
    width: 747px;
    height: 587px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    /* 안보이게 */
}

#section2 .popup.active {
    opacity: 1;
    visibility: visible;
}

#section2 .popup .popup_close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#section2 .popup .wrap {
    height: 100%;
    padding: 50px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#section2 .popup .wrap .content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section2 .popup .wrap .content .item {}

#section2 .popup .wrap .content .item h2 {
    margin-bottom: 14px;
}

#section2 .popup .wrap .content .item .title_search {
    position: relative;
    width: 60%;
}

#section2 .popup .wrap .content .item .title_search .icon_search {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
}

#section2 .popup .wrap .content .item input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

#section2 .popup .wrap .content .item input::placeholder {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #3D3D3D;
}

#section2 .popup .wrap .content .item .star {
    display: flex;
    align-items: center;
}

#section2 .popup .wrap .content .item .star img {}

#section2 .popup .wrap .content .item p {
    font-size: 25px;
    font-weight: 700;
    margin-left: 5px;
}

#section2 .popup .wrap .content .item textarea {
    width: 100%;
    height: 108px;
    padding: 10px 15px;
    border-radius: 5px;
}

#section2 .popup .wrap .content .item textarea::placeholder {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #3D3D3D;
}

#section2 .popup .wrap .write_btn {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #B1060F;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

#section2 .popup .wrap .write_btn:hover {
    background-color: #7c0f14;
}


/* ---- section3 ----- */
/* slide1 */
#section3 .inner {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section3 .inner>img {
    width: 81.25%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

#section3 .inner .overlay {
    width: 960px;
    height: 100vh;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    position: absolute;
    top: 0;
    right: 0;
}

#section3 .inner .overlay .text {
    width: 450px;
    color: #ffffff;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 20%;
    right: 10%;
}

#section3 .inner .overlay .text p {
    line-height: 150%;
    text-align: justify;
}

#section3 .inner .overlay .text .more_btn {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

#section3 .inner .overlay .text .more_btn span {
    font-size: 14px;
    font-weight: 400;
    color: #c4c4c4;
}

#section3 .inner .overlay .text .more_btn img {
    width: 15px;
    height: 15px;
}


/* ---- section4 ----- */
#section4 .content button {
    display: none;
}

#section4 {
    width: 100%;
    height: 100vh;
    background: url('../img/bg.png') center center no-repeat;
    background-size: cover;
}

#section4 .inner {
    margin: 80px 0 0 165px;
}

#section4 .inner .title {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
}

#section4 .inner .title img {
    width: 50px;
    height: 62px;
}

#section4 .inner .boxoffice_slide {
    padding: 20px;
}

#section4 .inner .swiper-slide {
    color: #ffffff;
}

#section4 .inner .swiper-slide .poster {
    width: 320px;
    height: 457px;
    position: relative;
}

#section4 .inner .swiper-slide .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section4 .inner .swiper-slide .poster strong {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    left: 10px;
}

/* poster위에 올라올 overlay */
#section4 .inner .swiper-slide .poster .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

#section4 .inner .swiper-slide .poster:hover .overlay {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: translateY(0);
}

#section4 .inner .swiper-slide .poster .overlay h5 {
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
}

#section4 .inner .swiper-slide .poster .overlay ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

#section4 .inner .swiper-slide .poster .overlay ul li {}

#section4 .inner .swiper-slide .poster .overlay ul li span {
    font-size: 15px;
    font-weight: 600;
    color: #C44B4B;
    display: block;
    margin-bottom: 5px;
}

#section4 .inner .swiper-slide .poster .overlay a {
    font-size: 14px;
    font-weight: 500;
    color: #888888;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}

#section4 .inner .swiper-slide .content {
    text-align: center;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#section4 .inner .swiper-slide .content .rank {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

#section4 .inner .swiper-slide .content .rank .star {
    display: flex;
    gap: -5px;
}

#section4 .inner .swiper-slide .content .rank .star img {
    width: 22px;
    margin-right: -5px;
}

#section4 .inner .swiper-slide .content .rank p {
    color: #FEE379;
}

#section4 .inner .swiper-slide .content .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* ---- section5 ----- */
/* slide1 */
#section5 .inner {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section5 .inner>img {
    width: 62.65%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section5 .inner .overlay {
    width: 57.70%;
    height: 100%;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 36%);
    position: absolute;
    top: 0;
    right: 0;
}

#section5 .inner .overlay_btm {
    width: 100%;
    height: 33%;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%);
    position: absolute;
    bottom: 0;
    left: 0;
}

#section5 .slide_inner {
    width: 79.37%;
    margin: 0 auto;
    position: relative;
}

#section5 .slide .text_wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    bottom: 90px;
    left: 0;
    color: #ffffff;
}

#section5 .slide .text_wrap .category {
    display: flex;
    gap: 10px;
    align-items: center;
}

#section5 .slide .text_wrap .category img {
    width: 40px;
    height: 40px;
}

#section5 .slide .text_wrap .first {
    display: flex;
    gap: 36px;
    align-items: center;
}

#section5 .slide .text_wrap .first .name {
    display: flex;
    gap: 18px;
    align-items: center;
}

#section5 .slide .text_wrap .first .name strong {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 60px;
    font-weight: 400;
}

#section5 .slide .text_wrap .first .name p {
    font-size: 45px;
    font-weight: 700;
}

#section5 .slide .text_wrap .first .info_wrap {
    display: flex;
    gap: 18px;
    align-items: center;
}

#section5 .slide .text_wrap .first .info_wrap img {
    width: 30px;
    height: 30px;
}

#section5 .slide .text_wrap .first .info p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

#section5 .slide .text_wrap .first .info span {
    color: #c4c4c4;
}

#section5 .list {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 36px;
    position: absolute;
    bottom: 90px;
    right: 0;
}

#section5 .list .item {
    width: 210px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#section5 .list .item .poster_image {
    width: 100%;
    height: 300px;
    margin-bottom: 13px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#section5 .list .item .poster_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section5 .list .item strong {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    left: -25px;
    bottom: 15px;
}